{% extends 'layout.html' %}

{% block body %}
 <h1>Dashboard<small> welcome{{session.username}}</small></h1>
 <a class="btn btn-success" href="/add_meal">Add Meal</a>
 <br>
 <table class="table table-striped">
 <tr>
 	  <th>Title</th>
 	  <th>Description</th>
 	   <th>Date</th>
 	   <th></th>
 	   <th></th>
 </tr>
 {% for meal in meals %}
 <tr>
 	<td>{{ meal.title}}</td>
 	<td>{{ meal.description}}</td>
 	<td>{{ meal.create_date}}</td>
 	<td><a href="edit_meal/{{meal.title}}" class="btn btn-default pull-right">Edit</a></td>
 	<td>
 	<form action="{{ url_for('delete_meal', title=meal.title)}}" method="post">
 	 <input type="hidden" name="_method" value="DELETE">
 	 <input type="submit" value="Delete" class="btn btn-danger">
 		
 	</form>
 		
 	</td>
 </tr>
 {% endfor %}
 	
 </table>

{% endblock %}