{% extends 'layout.html' %}
{% block body %}
<form method="POST" action="">
<div class="container">

<h1>Edit Meal</h1>

 <div class="form-group">
 <input type="text" name="title" value="posh" class="form-control">
 <label for="description">Description</label>
 <textarea id="description" name="description" placeholder="Write something.." style="height:200px; width: 100%;"></textarea>
</div>
<label for="text">Meal photo</label><br>
<input type="file" value="post">
 <p><input class="btn btn-primary" type="submit" name="" value="Submit"></p>
</form>



{% endblock %}
