{% extends 'layout.html' %}

{% block body %}

<div class="container">
<h1> Please Logout</h1>
{% from "includes/_formhelpers.html" import render_field %}

<form action="" method="POST">
 <input type="text" name="username"  placeholder="Username" value="{{request.form.username}}">


 <input type="password" placeholder="Password" name="password" value="{{request.form.password}}">

<input  class="btn btn-danger"  type="submit" value="Logout">
</form>

 {% if error %}
   <p class="error"><strong>Error:</strong>{{ error }}</p>
 {% endif %}
</div>


{% endblock %}