{% extends 'layout.html' %}

{% block body %}
<div class="container">
<h1>Order Meal</h1>

<form method="POST" action="">
 <div class="form-group">
 <input type="text" name="firstname" class="form-control" placeholder="First Name">
 	
 </div>



 <div class="form-group">

 	
 </div>

 <div class="form-group">
 	
 </div>

 <div class="form-group">
 	
 </div>

 <div class="form-group">
 	
 </div>

 <div class="form-group">
 	
 </div>



 <p><input type="submit" class="btn btn-primary" value="Submit"></p>
	
</form>
</div>
{% endblock %}