{% extends 'layout.html' %}

{% block body %}
<div class="container">
<h1>Order Meal</h1>

<form method="POST" action="">
 <div class="form-group">
 <input type="text" name="firstname" class="form-control" placeholder="First Name">
 	
 </div>



 <div class="form-group">

 	 <input type="text" name="last N" class="form-control" placeholder="Last Name">
 </div>

 <div class="form-group">
 	 <input type="text" name="phone No" class="form-control" placeholder="Phone Number">
 </div>

 <div class="form-group">
 	 <input type="text" name="door No" class="form-control" placeholder="Door Number">
 </div>

 <div class="form-group">
 	 <input type="text" name="adress1" class="form-control" placeholder="Adress1">
 </div>

 <div class="form-group">
 	 <input type="text" name="postcode" class="form-control" placeholder="Post code">
 </div>

 <div class="form-group">
 	 <input type="text" name="street No" class="form-control" placeholder="Street Number">
 </div>

  <div class="form-group">
 	 <input type="text" name="email" class="form-control" placeholder="Email Adress  ">
 </div>



 <p><input type="submit" class="btn btn-primary" value="Submit"></p>
	
</form>
</div>
{% endblock %}