
{% extends 'layout.html' %}

{% block body %}
<div class="container">
<p>Post meal</p>

<form>
<label for="title">Title</label>
<input type="text" name="title" placeholder="Your title" class="form-control"><br><br>
<label for="price">Price</label>
<input type="number" name="price" placeholder="Your price" class="form-control"><br><br>
<label for="description">Description</label>
 <textarea id="description" name="description" placeholder="Write something.." style="height:200px; width: 100%;"></textarea>
 <label for="text">Meal photo</label><br><br>
 <input type="file" value="post">

</form>
   {% if error %}
 <p class="error"><strong>Error</strong>{{error}}</p>
 {% endif %}
 {% endblock %}