{% extends 'layout.html' %}

{% block body %}
<body>


<div class="jumbotron text-center">
<h1>Welcome To Hilton Nairobi Hurlingham Class world Hotel</h1>
<p class="lead"> Welcome to  by Hilton Nairobi Hurlingham, a charming and modern hotel near the Nairobi Central Business District. Enjoy proximity to corporate parks and embassies, and spend free time exploring shopping malls, golf courses, museums and unique attractions like Nairobi National Park and the Giraffe Centre. Your pleasant stay begins with a warm DoubleTree chocolate chip cookie at check-in.

Relax in a stylish guest room featuring complimentary WiFi, a 40-inch HDTV, mini-refrigerator, coffeemaker, ergonomic work space, and a bathroom with rain shower. Spacious suites offer locally sourced décor, a living area with sofa, and a bathroom with separate shower and bathtub.

Dine any time of day at Atrium Brasserie – choose from the a la carte menu or indulge in an extensive buffet of Italian, Indian and pan-Asian cuisines. Our lobby lounge is perfect for morning coffee or unwinding with an evening cocktail and live music. Busy schedule? Count on 24-hour room service for tasty meals and beverages.

Our Nairobi Hurlingham hotel has plenty of thoughtful amenities for a comfortable stay including an outdoor pool, fully equipped fitness center, lobby gift shop and 24-hour business center. We also have over 350 sq. m. of attractive event space including boardrooms, conference rooms and an outdoor terrace for meetings and celebrations of up to 400 guests..</p>
	
</div>

 <br>
 <p> Click <a href="/"> here </a> to go home!</p>
{% endblock %}